server/node-red/flows_ae08483b06d7.json
[
    {
        "id": "1a3a14de.d6226b",
        "type": "tab",
        "label": "Employee Services",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d81c3475.a97e98",
        "type": "tab",
        "label": "Location Service",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4bcca241.d8718c",
        "type": "tab",
        "label": "Asset Services",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fd23d9bd.416398",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f559acf7.c971b",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [
            {
                "x": 500,
                "y": 120,
                "wires": []
            }
        ],
        "out": [
            {
                "x": 860,
                "y": 120,
                "wires": [
                    {
                        "id": "f559acf7.c971b",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "68f3b598.343a3c",
        "type": "firebase config",
        "z": "",
        "firebaseurl": "andrewsadmin",
        "loginType": "none"
    },
    {
        "id": "7cb5d6e9.ba00d8",
        "type": "mqtt-broker",
        "z": "",
        "name": "47.219.112.177",
        "broker": "172.17.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "3d1be7aa.7ad2a8",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/location",
        "wholemsg": "false"
    },
    {
        "id": "cf2967f1.73b868",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "mqtt.hsl.fi",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "15",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "609b1b49.46cb64",
        "type": "websocket-listener",
        "path": "/ws/worldmap",
        "wholemsg": "false"
    },
    {
        "id": "3f70042f.e31dbc",
        "type": "influxdb",
        "z": 0,
        "hostname": "172.19.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "testdb",
        "name": "",
        "usetls": false,
        "tls": ""
    },
    {
        "id": "bdbda7ad.fdcc88",
        "type": "debug",
        "z": "d81c3475.a97e98",
        "name": "from database",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 460,
        "y": 280,
        "wires": []
    },
    {
        "id": "58f5a28f.cc123c",
        "type": "inject",
        "z": "d81c3475.a97e98",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 280,
        "wires": [
            [
                "9fd4c5b0.728988"
            ]
        ]
    },
    {
        "id": "bf55fbd.f462108",
        "type": "switch",
        "z": "d81c3475.a97e98",
        "name": "is location",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "location",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 260,
        "y": 120,
        "wires": [
            [
                "4c1454d8.13a16c"
            ]
        ]
    },
    {
        "id": "85b306bb.1066f8",
        "type": "catch",
        "z": "d81c3475.a97e98",
        "name": "",
        "scope": [],
        "x": 80,
        "y": 20,
        "wires": [
            [
                "68583615.904468"
            ]
        ]
    },
    {
        "id": "68583615.904468",
        "type": "debug",
        "z": "d81c3475.a97e98",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 240,
        "y": 20,
        "wires": []
    },
    {
        "id": "4c1454d8.13a16c",
        "type": "json",
        "z": "d81c3475.a97e98",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 430,
        "y": 120,
        "wires": [
            [
                "e6486bd6.463b28"
            ]
        ]
    },
    {
        "id": "e6486bd6.463b28",
        "type": "function",
        "z": "d81c3475.a97e98",
        "name": "",
        "func": "var oldValue = msg.payload\n\nserverTime = new Date()\n// var newMsg = msg\n// var msgInflux = msg\nvar fbMsg = { payload:{\n    tabletId: oldValue.tid,\n    speed: oldValue.acc,\n    batt: oldValue.batt,\n    dir: oldValue.conn,\n    lat: oldValue.lat,\n    lng: oldValue.lon,\n    clientTime: serverTime.toString(),\n}\n}\nvar fluxMsg = { payload:\n[{\n    tabletId: oldValue.tid,\n    speed: oldValue.acc,\n    batt: oldValue.batt,\n    dir: oldValue.conn,\n    lat: oldValue.lat,\n    lng: oldValue.lon,\n    clientTime: serverTime.toString(),\n    time: new Date(\"2015-12-28T19:41:13Z\").getTime()\n},\n    {\n        tag1:\"location\",\n        tag2: oldValue.tid\n    }\n]\n}\n node.warn(fluxMsg.payload)\n node.warn(fbMsg.payload)\n\n\n\nreturn [fluxMsg, fbMsg];",
        "outputs": 2,
        "noerr": 0,
        "x": 570,
        "y": 140,
        "wires": [
            [
                "4fac9eb7.4fe82",
                "8c7e7ef3.6a2ea"
            ],
            [
                "1f773a28.fd1546"
            ]
        ],
        "outputLabels": [
            "influx",
            "firebase"
        ]
    },
    {
        "id": "edf77fec.a5a45",
        "type": "json",
        "z": "d81c3475.a97e98",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 750,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "1f773a28.fd1546",
        "type": "firebase modify",
        "z": "d81c3475.a97e98",
        "name": "",
        "firebaseconfig": "68f3b598.343a3c",
        "childpath": "tablet_locations",
        "method": "push",
        "value": "msg.payload",
        "priority": "",
        "x": 920,
        "y": 60,
        "wires": [
            [
                "c6a27022.e0151"
            ]
        ]
    },
    {
        "id": "5dd61b93.f36614",
        "type": "debug",
        "z": "d81c3475.a97e98",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "x": 1120,
        "y": 260,
        "wires": []
    },
    {
        "id": "cd6b487d.b9d3c8",
        "type": "debug",
        "z": "1a3a14de.d6226b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 690,
        "y": 400,
        "wires": []
    },
    {
        "id": "7d3707f8.7c4908",
        "type": "http response",
        "z": "1a3a14de.d6226b",
        "name": "response",
        "statusCode": "200",
        "headers": {
            "token": "89baa4d77fde8740da6e1e716595a198"
        },
        "x": 960,
        "y": 300,
        "wires": []
    },
    {
        "id": "72cc4c46.6ee0a4",
        "type": "http request",
        "z": "1a3a14de.d6226b",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "url": "https://054b6b12055851.na.deputy.com/api/v1/supervise/timesheet/start",
        "tls": "",
        "x": 510,
        "y": 400,
        "wires": [
            [
                "cd6b487d.b9d3c8"
            ]
        ]
    },
    {
        "id": "43eaffad.f321c",
        "type": "http response",
        "z": "1a3a14de.d6226b",
        "name": "clock in",
        "statusCode": "",
        "headers": {},
        "x": 560,
        "y": 280,
        "wires": []
    },
    {
        "id": "1fba7cd0.749ac3",
        "type": "http request",
        "z": "1a3a14de.d6226b",
        "name": "Timesheet Pause",
        "method": "POST",
        "ret": "txt",
        "url": "https://054b6b12055851.na.deputy.com/api/v1/supervise/timesheet/pause",
        "tls": "",
        "x": 730,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "753e3250.73df5c",
        "type": "inject",
        "z": "1a3a14de.d6226b",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 20,
        "wires": [
            [
                "2df04562.cdc77a"
            ]
        ]
    },
    {
        "id": "d300dd0a.529a4",
        "type": "function",
        "z": "1a3a14de.d6226b",
        "name": "add data and headers",
        "func": "msg.payload = {'intTimesheetId': 3};\n msg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Accept\": \"application/json\",\n         \"Authorization\": \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6ImE0ZWQxM2I3ZDM1YmMxMjlkODliYmNmYTE0YjMwNDhmNWVlNzhhMTMyNGJlMjNmYTA0YzBhNTQ3MDMwOWJhMDk5NzE2NDEyNDFmNzhlNjE2In0.eyJhdWQiOiIxIiwianRpIjoiYTRlZDEzYjdkMzViYzEyOWQ4OWJiY2ZhMTRiMzA0OGY1ZWU3OGExMzI0YmUyM2ZhMDRjMGE1NDcwMzA5YmEwOTk3MTY0MTI0MWY3OGU2MTYiLCJpYXQiOjE1MjA4MDY4MzYsIm5iZiI6MTUyMDgwNjgzNiwiZXhwIjoxNTUyMzQyODM2LCJzdWIiOiIxIiwic2NvcGVzIjpbXX0.cISnHSrYIPwbJ_dPQBoJ5rrdaemZIbYLSb2Ey6a5MT3q_UnMN2gbCJbX2U8JnsvYfEaV7GjpH4hVifRDSyGxeEIgTrXBUld32atlAcMMvVVGyODDm_q7y7oBFuANLXRKJa0uv3Hh-Gr3Kmk02DGuzlLkEdOiz5gK53NclLdNk4Mb2cQ65b17RmipsZvljMjElvaLE1O5TJfxoJ0RT6PBalIZGVqPZ3BA4yLViL5f27qWIWuPkbVXoPDngcOEJ1RCtiFkxiSFtmf2fzXCafIGEZugp0XCnfHJi7S1sCWDeILvb-V8muXS_yRirSkoIdKbEgCtlvRE826jRoOYuMOzucGc61Uyat1LRV8CWSGa_SoBKkLosP84LRGZehu_X3OHYAtkpwaVR9Q5rEj-EqdnxkcuKEf2YE8YdxTEVetPxTGUwRXd4rKmF4YACz9ILB-n2OZ_l4o-hguT9ZMjpQ3glmHLzTXKRW441bPtaU-z0fNyXHMCpFOKbKvkGxMGDvJ3BXFL2221VDm8PZZ7iMsftCPT8ifErMiQt__YH0Fu4MaVQ3vvRtrNSZYw3WbDMPZ9SUcdQabzLH5jx-iFWuh-ESbcv9CJ2tb7sLJ0yEScFLtVtIJg1ymO2h5pYvlLQOSCNdDYc3MNBkgo3au0VPdXvL_hpm3Rfv3szS3w7UxAupE\"\n     \n }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 400,
        "wires": [
            [
                "72cc4c46.6ee0a4"
            ]
        ]
    },
    {
        "id": "c6e1205d.1d449",
        "type": "http request",
        "z": "1a3a14de.d6226b",
        "name": "Timesheet End",
        "method": "POST",
        "ret": "txt",
        "url": "https://054b6b12055851.na.deputy.com/api/v1/supervise/timesheet/{{action}}/",
        "tls": "",
        "x": 720,
        "y": 140,
        "wires": [
            [
                "7d3707f8.7c4908"
            ]
        ]
    },
    {
        "id": "ff2a8435.f300e8",
        "type": "http in",
        "z": "1a3a14de.d6226b",
        "name": "Timeclock Action",
        "url": "/api/deputy/timeclock/",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "db06ec29.c4119"
            ]
        ]
    },
    {
        "id": "f27afa2f.f2cf68",
        "type": "http request",
        "z": "1a3a14de.d6226b",
        "name": "Timesheet Start",
        "method": "POST",
        "ret": "txt",
        "url": "https://054b6b12055851.na.deputy.com/api/v1/supervise/timesheet/start/",
        "tls": "",
        "x": 720,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "765f7a4b.5f5724",
        "type": "function",
        "z": "1a3a14de.d6226b",
        "name": "Construct Message",
        "func": "// console.log('received timeclock action ', msg.action)\n// console.log('received timeclock department ', msg.dept)\n// console.log('setting headers')\nmsg.headers = {};\nmsg.headers['Authorization'] = 'OAuth 89baa4d77fde8740da6e1e716595a198';\nmsg.headers['Accept'] = 'application/json';\n\n// // var msg1 = { payload:\"\" };\n// // var msg2 = { payload:\"\" };\nconsole.log(msg.payload.action)\nif(msg.payload.action == ('break' || 'clockout')){\n    msg.payload = {'intTimesheetId': context.get('activesheet', activeTimesheet).flow};\n    \n}else{\n    // msg.payload = {'intEmployeeId': msg.empId, 'department': msg.dept};\nnode.log('hihihihihi')\n}\nmsg.query = msg.payload.action\n// return msg;\nnode.log('hihihihihi')\nnode.warn(msg.payload)\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 320,
        "wires": [
            [
                "2fc38f05.10c1a"
            ]
        ]
    },
    {
        "id": "e153fee3.0715e",
        "type": "function",
        "z": "1a3a14de.d6226b",
        "name": "set auth header",
        "func": "msg.payload = {};\n// msg.payload = {'intEmployeeId': 408, 'intOpunitId': 3};\nmsg.payload = {'intTimesheetId': context.get('employeeActiveTimesheetId', empActivetTSId).flow};\nmsg.headers = {};\nmsg.headers['Authorization'] = 'OAuth 89baa4d77fde8740da6e1e716595a198';\nmsg.headers['Accept'] = 'application/json';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "f15802d.47e6c",
        "type": "function",
        "z": "1a3a14de.d6226b",
        "name": "Set payload start clock",
        "func": "msg.payload = {};\nmsg.payload = {'intEmployeeId': msg.payload.empId, 'intOpunitId': msg.payload.dept};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "ea49f3f1.71a8c",
        "type": "switch",
        "z": "1a3a14de.d6226b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 930,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "f0544aa1.097878",
        "type": "inject",
        "z": "4bcca241.d8718c",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "ba97d673.940e88"
            ]
        ]
    },
    {
        "id": "f7599396.cc1c2",
        "type": "http request",
        "z": "4bcca241.d8718c",
        "name": "post to FRED",
        "method": "POST",
        "ret": "txt",
        "url": "http://45.32.205.227:83/api/v1/hardware/",
        "tls": "",
        "x": 520,
        "y": 80,
        "wires": [
            [
                "ae9ee635.55cfa8"
            ]
        ]
    },
    {
        "id": "ba97d673.940e88",
        "type": "function",
        "z": "4bcca241.d8718c",
        "name": "set payload and headers",
        "func": "// //msg.payload = \"data to post\";\n// msg.headers = {};\n// msg.headers['Authentication'] = 'Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6ImE0ZWQxM2I3ZDM1YmMxMjlkODliYmNmYTE0YjMwNDhmNWVlNzhhMTMyNGJlMjNmYTA0YzBhNTQ3MDMwOWJhMDk5NzE2NDEyNDFmNzhlNjE2In0.eyJhdWQiOiIxIiwianRpIjoiYTRlZDEzYjdkMzViYzEyOWQ4OWJiY2ZhMTRiMzA0OGY1ZWU3OGExMzI0YmUyM2ZhMDRjMGE1NDcwMzA5YmEwOTk3MTY0MTI0MWY3OGU2MTYiLCJpYXQiOjE1MjA4MDY4MzYsIm5iZiI6MTUyMDgwNjgzNiwiZXhwIjoxNTUyMzQyODM2LCJzdWIiOiIxIiwic2NvcGVzIjpbXX0.cISnHSrYIPwbJ_dPQBoJ5rrdaemZIbYLSb2Ey6a5MT3q_UnMN2gbCJbX2U8JnsvYfEaV7GjpH4hVifRDSyGxeEIgTrXBUld32atlAcMMvVVGyODDm_q7y7oBFuANLXRKJa0uv3Hh-Gr3Kmk02DGuzlLkEdOiz5gK53NclLdNk4Mb2cQ65b17RmipsZvljMjElvaLE1O5TJfxoJ0RT6PBalIZGVqPZ3BA4yLViL5f27qWIWuPkbVXoPDngcOEJ1RCtiFkxiSFtmf2fzXCafIGEZugp0XCnfHJi7S1sCWDeILvb-V8muXS_yRirSkoIdKbEgCtlvRE826jRoOYuMOzucGc61Uyat1LRV8CWSGa_SoBKkLosP84LRGZehu_X3OHYAtkpwaVR9Q5rEj-EqdnxkcuKEf2YE8YdxTEVetPxTGUwRXd4rKmF4YACz9ILB-n2OZ_l4o-hguT9ZMjpQ3glmHLzTXKRW441bPtaU-z0fNyXHMCpFOKbKvkGxMGDvJ3BXFL2221VDm8PZZ7iMsftCPT8ifErMiQt__YH0Fu4MaVQ3vvRtrNSZYw3WbDMPZ9SUcdQabzLH5jx-iFWuh-ESbcv9CJ2tb7sLJ0yEScFLtVtIJg1ymO2h5pYvlLQOSCNdDYc3MNBkgo3au0VPdXvL_hpm3Rfv3szS3w7UxAupE';\n// msg.headers['Accept'] = 'application/json';\n\n// return msg;\n\n     msg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Accept\": \"application/json\",\n         \"Authorization\": \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6ImE0ZWQxM2I3ZDM1YmMxMjlkODliYmNmYTE0YjMwNDhmNWVlNzhhMTMyNGJlMjNmYTA0YzBhNTQ3MDMwOWJhMDk5NzE2NDEyNDFmNzhlNjE2In0.eyJhdWQiOiIxIiwianRpIjoiYTRlZDEzYjdkMzViYzEyOWQ4OWJiY2ZhMTRiMzA0OGY1ZWU3OGExMzI0YmUyM2ZhMDRjMGE1NDcwMzA5YmEwOTk3MTY0MTI0MWY3OGU2MTYiLCJpYXQiOjE1MjA4MDY4MzYsIm5iZiI6MTUyMDgwNjgzNiwiZXhwIjoxNTUyMzQyODM2LCJzdWIiOiIxIiwic2NvcGVzIjpbXX0.cISnHSrYIPwbJ_dPQBoJ5rrdaemZIbYLSb2Ey6a5MT3q_UnMN2gbCJbX2U8JnsvYfEaV7GjpH4hVifRDSyGxeEIgTrXBUld32atlAcMMvVVGyODDm_q7y7oBFuANLXRKJa0uv3Hh-Gr3Kmk02DGuzlLkEdOiz5gK53NclLdNk4Mb2cQ65b17RmipsZvljMjElvaLE1O5TJfxoJ0RT6PBalIZGVqPZ3BA4yLViL5f27qWIWuPkbVXoPDngcOEJ1RCtiFkxiSFtmf2fzXCafIGEZugp0XCnfHJi7S1sCWDeILvb-V8muXS_yRirSkoIdKbEgCtlvRE826jRoOYuMOzucGc61Uyat1LRV8CWSGa_SoBKkLosP84LRGZehu_X3OHYAtkpwaVR9Q5rEj-EqdnxkcuKEf2YE8YdxTEVetPxTGUwRXd4rKmF4YACz9ILB-n2OZ_l4o-hguT9ZMjpQ3glmHLzTXKRW441bPtaU-z0fNyXHMCpFOKbKvkGxMGDvJ3BXFL2221VDm8PZZ7iMsftCPT8ifErMiQt__YH0Fu4MaVQ3vvRtrNSZYw3WbDMPZ9SUcdQabzLH5jx-iFWuh-ESbcv9CJ2tb7sLJ0yEScFLtVtIJg1ymO2h5pYvlLQOSCNdDYc3MNBkgo3au0VPdXvL_hpm3Rfv3szS3w7UxAupE\"\n     }\n     return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 80,
        "wires": [
            [
                "f7599396.cc1c2"
            ]
        ]
    },
    {
        "id": "ae9ee635.55cfa8",
        "type": "debug",
        "z": "4bcca241.d8718c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 690,
        "y": 80,
        "wires": []
    },
    {
        "id": "2df04562.cdc77a",
        "type": "http request",
        "z": "1a3a14de.d6226b",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "url": "http://172.17.0.3:1880/api/deputy/timeclock/",
        "tls": "",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "a8198836.5191d8"
            ]
        ]
    },
    {
        "id": "c6a27022.e0151",
        "type": "uibuilder",
        "z": "d81c3475.a97e98",
        "name": "default_ui",
        "topic": "owntracks",
        "url": "uibuilder",
        "fwdInMessages": true,
        "allowScripts": true,
        "allowStyles": true,
        "debugFE": true,
        "copyIndex": true,
        "x": 940,
        "y": 220,
        "wires": [
            [
                "5dd61b93.f36614"
            ],
            []
        ]
    },
    {
        "id": "6f60b2f1.2646bc",
        "type": "inject",
        "z": "d81c3475.a97e98",
        "name": "",
        "topic": "owntracks",
        "payload": "adsf",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 560,
        "wires": [
            [
                "18d76cf9.06fb33"
            ]
        ]
    },
    {
        "id": "18d76cf9.06fb33",
        "type": "mqtt out",
        "z": "d81c3475.a97e98",
        "name": "",
        "topic": "owntracks",
        "qos": "",
        "retain": "",
        "broker": "7cb5d6e9.ba00d8",
        "x": 390,
        "y": 580,
        "wires": []
    },
    {
        "id": "c615402.6a58ac",
        "type": "mqtt in",
        "z": "d81c3475.a97e98",
        "name": "",
        "topic": "owntracks",
        "qos": "2",
        "broker": "7cb5d6e9.ba00d8",
        "x": 140,
        "y": 480,
        "wires": [
            [
                "d2eeafd8.55d39"
            ]
        ]
    },
    {
        "id": "d2eeafd8.55d39",
        "type": "debug",
        "z": "d81c3475.a97e98",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 290,
        "y": 480,
        "wires": []
    },
    {
        "id": "e4c73b9f.c42748",
        "type": "mqtt in",
        "z": "d81c3475.a97e98",
        "name": "",
        "topic": "owntracks",
        "qos": "2",
        "broker": "7cb5d6e9.ba00d8",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "bf55fbd.f462108"
            ]
        ]
    },
    {
        "id": "688e2df3.a9bd74",
        "type": "debug",
        "z": "d81c3475.a97e98",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 770,
        "y": 240,
        "wires": []
    },
    {
        "id": "4fac9eb7.4fe82",
        "type": "debug",
        "z": "d81c3475.a97e98",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "x": 470,
        "y": 40,
        "wires": []
    },
    {
        "id": "66502443.96a28c",
        "type": "inject",
        "z": "1a3a14de.d6226b",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 70,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "a8198836.5191d8",
        "type": "debug",
        "z": "1a3a14de.d6226b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 330,
        "y": 80,
        "wires": []
    },
    {
        "id": "987d9f98.c9c7d",
        "type": "debug",
        "z": "1a3a14de.d6226b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 290,
        "y": 680,
        "wires": []
    },
    {
        "id": "ac0367d0.bfca48",
        "type": "http request",
        "z": "1a3a14de.d6226b",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "url": "https://054b6b12055851.na.deputy.com/api/v1/supervise/timesheet/{{query}}/",
        "tls": "",
        "x": 470,
        "y": 180,
        "wires": [
            [
                "a920b727.3bddb8",
                "97f20c9f.d45a6"
            ]
        ]
    },
    {
        "id": "a920b727.3bddb8",
        "type": "debug",
        "z": "1a3a14de.d6226b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 500,
        "y": 120,
        "wires": []
    },
    {
        "id": "97f20c9f.d45a6",
        "type": "http response",
        "z": "1a3a14de.d6226b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 560,
        "y": 240,
        "wires": []
    },
    {
        "id": "2fc38f05.10c1a",
        "type": "debug",
        "z": "1a3a14de.d6226b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 380,
        "y": 260,
        "wires": []
    },
    {
        "id": "13b1062a.cd32ca",
        "type": "globalGetSet",
        "z": "1a3a14de.d6226b",
        "name": "",
        "topic": "start",
        "context": "global",
        "variable": "",
        "outContext": "global",
        "outVar": "req",
        "x": 320,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "7ae20c4e.237f14",
        "type": "debug",
        "z": "1a3a14de.d6226b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 580,
        "y": 580,
        "wires": []
    },
    {
        "id": "db06ec29.c4119",
        "type": "function",
        "z": "1a3a14de.d6226b",
        "name": "",
        "func": "msg.topic = msg.payload.action\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 120,
        "y": 380,
        "wires": [
            [
                "13b1062a.cd32ca",
                "987d9f98.c9c7d"
            ]
        ]
    },
    {
        "id": "7c1c2f0.1c975d",
        "type": "file in",
        "z": "fd23d9bd.416398",
        "name": "flows_vps.json",
        "filename": "/home/ash/Documents/temp/collectd-influxdb-grafana-docker/docker-node-red/node-red/flows_vps.json",
        "format": "utf8",
        "sendError": true,
        "x": 580,
        "y": 180,
        "wires": [
            [
                "b9b0d009.769be"
            ]
        ]
    },
    {
        "id": "3c47d483.234c7c",
        "type": "file",
        "z": "fd23d9bd.416398",
        "name": "",
        "filename": "",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "x": 930,
        "y": 180,
        "wires": []
    },
    {
        "id": "822d70.951b529",
        "type": "inject",
        "z": "fd23d9bd.416398",
        "name": "",
        "topic": "",
        "payload": "restarted",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 370,
        "y": 180,
        "wires": [
            [
                "7c1c2f0.1c975d"
            ]
        ]
    },
    {
        "id": "b9b0d009.769be",
        "type": "function",
        "z": "fd23d9bd.416398",
        "name": "",
        "func": "msg.filename = \"/home/ash/.node-red/backup_\"+(new Date().toISOString().replace(':', '_').replace(':', '_').replace(/\\..+/, ''))+\"_flows_vps.json\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 180,
        "wires": [
            [
                "3c47d483.234c7c"
            ]
        ]
    },
    {
        "id": "24e12c55.0aa444",
        "type": "file in",
        "z": "fd23d9bd.416398",
        "name": "flows_vps_cred.json",
        "filename": "/home/ash/Documents/temp/collectd-influxdb-grafana-docker/docker-node-red/node-red/flows_vps_cred.json",
        "format": "utf8",
        "sendError": true,
        "x": 600,
        "y": 240,
        "wires": [
            [
                "acb42fc7.d203f"
            ]
        ]
    },
    {
        "id": "bf0052d7.0913b",
        "type": "file",
        "z": "fd23d9bd.416398",
        "name": "",
        "filename": "",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "x": 930,
        "y": 240,
        "wires": []
    },
    {
        "id": "acb42fc7.d203f",
        "type": "function",
        "z": "fd23d9bd.416398",
        "name": "",
        "func": "msg.filename = \"/home/ash/.node-red/backup_\"+(new Date().toISOString().replace(':', '_').replace(':', '_').replace(/\\..+/, ''))+\"_flows_vps_cred.json\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 240,
        "wires": [
            [
                "bf0052d7.0913b"
            ]
        ]
    },
    {
        "id": "d9d9873f.eba0f8",
        "type": "debug",
        "z": "fd23d9bd.416398",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 810,
        "y": 80,
        "wires": []
    },
    {
        "id": "b17650ec.737c",
        "type": "inject",
        "z": "fd23d9bd.416398",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 420,
        "y": 80,
        "wires": [
            [
                "9c97218b.a3bde"
            ]
        ]
    },
    {
        "id": "9c97218b.a3bde",
        "type": "function",
        "z": "fd23d9bd.416398",
        "name": "change context",
        "func": "var nc = context.get('nc') || 0;\nnc = nc + 1;\ncontext.set('nc', nc);\ncontext.nc2 = nc;\nvar gc = context.global.get('gcount') || context.global.gcount || 0;\ngc = gc + nc + 1;\ncontext.global.set('gcount', gc);\n\ncontext.flow.set('ts', msg.payload);\ncontext.flow.ts2 = msg.payload;\n\nmsg.payload = { gc: gc,\nnc: nc,\nts: context.flow.get('ts') };\n\ncontext.global = 0;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 80,
        "wires": [
            [
                "d9d9873f.eba0f8"
            ]
        ]
    },
    {
        "id": "93af981.a417f68",
        "type": "websocket out",
        "z": "d81c3475.a97e98",
        "name": "",
        "server": "3d1be7aa.7ad2a8",
        "client": "",
        "x": 980,
        "y": 460,
        "wires": []
    },
    {
        "id": "23e556b.b0bceaa",
        "type": "function",
        "z": "d81c3475.a97e98",
        "name": "",
        "func": "// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\ncontext.global.location = msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 781,
        "y": 434,
        "wires": [
            [
                "93af981.a417f68"
            ]
        ]
    },
    {
        "id": "bddfd268.bbd77",
        "type": "websocket in",
        "z": "d81c3475.a97e98",
        "name": "",
        "server": "3d1be7aa.7ad2a8",
        "client": "",
        "x": 610,
        "y": 494,
        "wires": [
            [
                "fcc07c.c6e14f88"
            ]
        ]
    },
    {
        "id": "fcc07c.c6e14f88",
        "type": "function",
        "z": "d81c3475.a97e98",
        "name": "",
        "func": "// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload = context.global.location;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 783,
        "y": 500,
        "wires": [
            [
                "93af981.a417f68"
            ]
        ]
    },
    {
        "id": "a885892b.e28408",
        "type": "template",
        "z": "d81c3475.a97e98",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n<head>\n  <title>Owntracks & Node-Red Live Map</title>\n  <script type=\"text/javascript\" src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js\"></script>\n  <script type=\"text/javascript\" src=\"http://maps.google.com/maps/api/js?sensor=true\"></script>\n  <script type=\"text/javascript\" src=\"http://yourjavascript.com/4594301102/gmaps.js\"></script>\n \n  <style type=\"text/css\" media=\"screen\">\n    #map {\n      position:absolute;\n      top: 0; bottom: 0; left: 0; right: 0;\n    }\n  </style>\n</head>\n<body>\n \n  <div id=\"map\"></div>\n  <script type=\"text/javascript\">\n  var socketaddy = \"ws://47.219.112.177:1880/ws/location\";\n    var map;\n    var sock;\n    $(document).ready(function(){\n      \n      map = new GMaps({\n        div: '#map',\n        lat: -12.043333,\n        lng: -77.028333\n      });\n      \n      \n      sock = new WebSocket(socketaddy);\n      sock.onopen = function(){ console.log(\"Connected websocket\");\n\t      console.log(\"Sending ping..\");\n\t      sock.send(\"Ping!\");\n\t      console.log(\"Ping sent..\");\n      };\n      sock.onerror = function(){ console.log(\"Websocket error\"); };\n      sock.onmessage = function(evt){\n        var latlng = JSON.parse(evt.data);\n        var array = $.map(latlng, function(el) {\n  \t\t\treturn [[el.lat, el.lng]];\n\t\t\t});\n        \n        map.removeMarkers();\n        map.removePolylines();\n       \tconsole.log(\"Got marker at \" + latlng[0].lat + \", \" + latlng[0].lng, latlng);\n        map.setZoom(17);\n       \tmap.setCenter(latlng[0].lat, latlng[0].lng);\n        map.addMarkers(latlng);\n      \tmap.drawPolyline({\n\t\t  path: array,\n\t\t  strokeColor: '#131540',\n\t\t  strokeOpacity: 0.6,\n\t\t  strokeWeight: 6\n\t\t});\n      }\n    });\n  </script>\n</body>\n</html>",
        "x": 813,
        "y": 571,
        "wires": [
            [
                "7685c7e2.7fafb8"
            ]
        ]
    },
    {
        "id": "7685c7e2.7fafb8",
        "type": "http response",
        "z": "d81c3475.a97e98",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 997,
        "y": 571,
        "wires": []
    },
    {
        "id": "b41bdf7.cb6202",
        "type": "http in",
        "z": "d81c3475.a97e98",
        "name": "",
        "url": "/map",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 592,
        "y": 576,
        "wires": [
            [
                "a885892b.e28408"
            ]
        ]
    },
    {
        "id": "4c38720.6bac79",
        "type": "debug",
        "z": "d81c3475.a97e98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 857,
        "y": 379,
        "wires": []
    },
    {
        "id": "4d24cf5c.00a97",
        "type": "inject",
        "z": "d81c3475.a97e98",
        "name": "Array of Co-ords",
        "topic": "",
        "payload": "[{\"lat\":54.9619349,\"lng\":-1.6003813},{\"lat\":54.9656694,\"lng\":-1.5239833},{\"lat\":54.9696456,\"lng\":-1.5069755},{\"lat\":54.9378907,\"lng\":-1.5273729}]",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 563,
        "y": 383,
        "wires": [
            [
                "23e556b.b0bceaa",
                "4c38720.6bac79"
            ]
        ]
    },
    {
        "id": "5214b611.cbba48",
        "type": "inject",
        "z": "d81c3475.a97e98",
        "name": "Single Co-ord",
        "topic": "",
        "payload": "[{\"lat\":54.9696456,\"lng\":-1.5069755}]",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 553,
        "y": 429,
        "wires": [
            [
                "23e556b.b0bceaa"
            ]
        ]
    },
    {
        "id": "1bc0012d.f6f6ef",
        "type": "inject",
        "z": "d81c3475.a97e98",
        "name": "Single Co-ord",
        "topic": "",
        "payload": "[{\"lat\":32.9696456,\"lng\":-95.5069755}]",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 710,
        "y": 320,
        "wires": [
            [
                "23e556b.b0bceaa"
            ]
        ]
    },
    {
        "id": "ae0c59d2.ad33a8",
        "type": "worldmap",
        "z": "d81c3475.a97e98",
        "name": "",
        "lat": "32.9696456",
        "lon": "-95.5069755",
        "zoom": "",
        "layer": "OSM",
        "cluster": "11",
        "maxage": "360",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "x": 790,
        "y": 760,
        "wires": []
    },
    {
        "id": "71d2391.4475bc8",
        "type": "worldmap in",
        "z": "d81c3475.a97e98",
        "name": "",
        "x": 400,
        "y": 760,
        "wires": [
            [
                "1909e5e5.19a79a"
            ]
        ]
    },
    {
        "id": "1909e5e5.19a79a",
        "type": "worldmap-tracks",
        "z": "d81c3475.a97e98",
        "depth": 20,
        "name": "",
        "x": 600,
        "y": 760,
        "wires": [
            [
                "ae0c59d2.ad33a8"
            ]
        ]
    },
    {
        "id": "2f4f1c7c.d70514",
        "type": "worldmap",
        "z": "d81c3475.a97e98",
        "name": "",
        "x": 790,
        "y": 1040,
        "wires": []
    },
    {
        "id": "f6b8a561.9b27c8",
        "type": "inject",
        "z": "d81c3475.a97e98",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "none",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 230,
        "y": 1000,
        "wires": [
            [
                "75260eb3.da832"
            ]
        ]
    },
    {
        "id": "75260eb3.da832",
        "type": "function",
        "z": "d81c3475.a97e98",
        "name": "add new layer",
        "func": "msg.payload = {};\nmsg.payload.command = {};\n\nvar u = 'http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png';\nvar o = JSON.stringify({ maxZoom: 19, attribution: '&copy; OpenStreetMap'});\n\nmsg.payload.command.map = {name:\"OSMhot\", url:u, opt:o};\nmsg.payload.command.layer = \"OSMhot\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 1000,
        "wires": [
            [
                "2f4f1c7c.d70514"
            ]
        ]
    },
    {
        "id": "9621838c.e640f",
        "type": "function",
        "z": "d81c3475.a97e98",
        "name": "USGS Quake monitor csv re-parse",
        "func": "msg.payload.lat = msg.payload.latitude;\nmsg.payload.lon = msg.payload.longitude;\nmsg.payload.layer = \"earthquake\";\nmsg.payload.name = msg.payload.id;\nmsg.payload.icon = \"globe\";\nmsg.payload.iconColor = \"orange\";\n\ndelete msg.payload.latitude;\ndelete msg.payload.longitude;\t\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 1140,
        "wires": [
            [
                "2f4f1c7c.d70514"
            ]
        ]
    },
    {
        "id": "9b2a74ee.ce15b8",
        "type": "function",
        "z": "d81c3475.a97e98",
        "name": "move and zoom",
        "func": "msg.payload = { command:{layer:\"Esri Terrain\",lat:0,lon:0,zoom:3} };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 1040,
        "wires": [
            [
                "2f4f1c7c.d70514"
            ]
        ]
    },
    {
        "id": "e45a1bbb.a69c58",
        "type": "csv",
        "z": "d81c3475.a97e98",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "x": 430,
        "y": 1080,
        "wires": [
            [
                "9621838c.e640f"
            ]
        ]
    },
    {
        "id": "125ceb9d.2b9104",
        "type": "inject",
        "z": "d81c3475.a97e98",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 230,
        "y": 1040,
        "wires": [
            [
                "9b2a74ee.ce15b8"
            ]
        ]
    },
    {
        "id": "888cceba.6a7c9",
        "type": "http request",
        "z": "d81c3475.a97e98",
        "name": "",
        "method": "GET",
        "url": "http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_day.csv",
        "tls": "",
        "x": 310,
        "y": 1140,
        "wires": [
            [
                "e45a1bbb.a69c58"
            ]
        ]
    },
    {
        "id": "f406b90b.3bdad8",
        "type": "inject",
        "z": "d81c3475.a97e98",
        "name": "Quakes",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "900",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 240,
        "y": 1080,
        "wires": [
            [
                "888cceba.6a7c9"
            ]
        ]
    },
    {
        "id": "ecc212c3.5f875",
        "type": "worldmap",
        "z": "d81c3475.a97e98",
        "name": "",
        "x": 1070,
        "y": 1300,
        "wires": []
    },
    {
        "id": "ab954646.fa5578",
        "type": "websocket out",
        "z": "d81c3475.a97e98",
        "name": "",
        "server": "609b1b49.46cb64",
        "client": "",
        "x": 1097,
        "y": 1222.7499904632568,
        "wires": []
    },
    {
        "id": "25109a0f.dce7c6",
        "type": "inject",
        "z": "d81c3475.a97e98",
        "name": "Map center to Helsinki",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 774.6458358764648,
        "y": 1221.1388750076294,
        "wires": [
            [
                "ab954646.fa5578"
            ]
        ]
    },
    {
        "id": "ec7c1c1.1d0fde",
        "type": "mqtt in",
        "z": "d81c3475.a97e98",
        "name": "HSL open API",
        "topic": "/hfp/journey/#",
        "qos": "2",
        "broker": "cf2967f1.73b868",
        "x": 720.745246887207,
        "y": 1294.785346031189,
        "wires": [
            [
                "45f7d743.a6b328"
            ]
        ]
    },
    {
        "id": "45f7d743.a6b328",
        "type": "function",
        "z": "d81c3475.a97e98",
        "name": "Parse",
        "func": "var data=JSON.parse(msg.payload);\nvar thing = {\n    name:data.VP.veh, \n    lat:data.VP.lat, \n    lon:data.VP.long,\n    icon:\"car\",\n    iconColor:\"red\",\n    extrainfo:data.VP.desi\n};\nmsg.payload=thing;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 875.9952659606934,
        "y": 1294.0353450775146,
        "wires": [
            [
                "ab954646.fa5578"
            ]
        ]
    },
    {
        "id": "8c7e7ef3.6a2ea",
        "type": "influxdb out",
        "z": "d81c3475.a97e98",
        "influxdb": "3f70042f.e31dbc",
        "name": "location",
        "measurement": "location_update",
        "precision": "",
        "retentionPolicy": "",
        "x": 640,
        "y": 20,
        "wires": []
    },
    {
        "id": "9fd4c5b0.728988",
        "type": "influxdb in",
        "z": "d81c3475.a97e98",
        "influxdb": "3f70042f.e31dbc",
        "name": "",
        "query": "SELECT * FROM location_update;",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 290,
        "y": 220,
        "wires": [
            [
                "bdbda7ad.fdcc88"
            ]
        ]
    }
]