server/node-red/lib/flows/locations-1.json
[
    {
        "id": "8c7e7ef3.6a2ea",
        "type": "influxdb out",
        "z": "d81c3475.a97e98",
        "influxdb": "3f70042f.e31dbc",
        "name": "location",
        "measurement": "location_update",
        "precision": "",
        "retentionPolicy": "",
        "x": 640,
        "y": 20,
        "wires": []
    },
    {
        "id": "9fd4c5b0.728988",
        "type": "influxdb in",
        "z": "d81c3475.a97e98",
        "influxdb": "3f70042f.e31dbc",
        "name": "",
        "query": "SELECT * FROM location_update;",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 290,
        "y": 220,
        "wires": [
            [
                "bdbda7ad.fdcc88"
            ]
        ]
    },
    {
        "id": "bdbda7ad.fdcc88",
        "type": "debug",
        "z": "d81c3475.a97e98",
        "name": "from database",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 460,
        "y": 280,
        "wires": []
    },
    {
        "id": "58f5a28f.cc123c",
        "type": "inject",
        "z": "d81c3475.a97e98",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 280,
        "wires": [
            [
                "9fd4c5b0.728988"
            ]
        ]
    },
    {
        "id": "bf55fbd.f462108",
        "type": "switch",
        "z": "d81c3475.a97e98",
        "name": "is location",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "location",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 260,
        "y": 120,
        "wires": [
            [
                "4c1454d8.13a16c"
            ]
        ]
    },
    {
        "id": "85b306bb.1066f8",
        "type": "catch",
        "z": "d81c3475.a97e98",
        "name": "",
        "scope": [],
        "x": 80,
        "y": 20,
        "wires": [
            [
                "68583615.904468"
            ]
        ]
    },
    {
        "id": "68583615.904468",
        "type": "debug",
        "z": "d81c3475.a97e98",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 240,
        "y": 20,
        "wires": []
    },
    {
        "id": "4c1454d8.13a16c",
        "type": "json",
        "z": "d81c3475.a97e98",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 430,
        "y": 120,
        "wires": [
            [
                "e6486bd6.463b28"
            ]
        ]
    },
    {
        "id": "e6486bd6.463b28",
        "type": "function",
        "z": "d81c3475.a97e98",
        "name": "",
        "func": "var oldValue = msg.payload\n\nserverTime = new Date()\n// var newMsg = msg\n// var msgInflux = msg\nvar fbMsg = { payload:{\n    tabletId: oldValue.tid,\n    speed: oldValue.acc,\n    batt: oldValue.batt,\n    dir: oldValue.conn,\n    lat: oldValue.lat,\n    lng: oldValue.lon,\n    clientTime: serverTime.toString(),\n}\n}\nvar fluxMsg = { payload:\n[{\n    tabletId: oldValue.tid,\n    speed: oldValue.acc,\n    batt: oldValue.batt,\n    dir: oldValue.conn,\n    lat: oldValue.lat,\n    lng: oldValue.lon,\n    clientTime: serverTime.toString(),\n    time: new Date(\"2015-12-28T19:41:13Z\").getTime()\n},\n    {\n        tag1:\"location\",\n        tag2: oldValue.tid\n    }\n]\n}\n node.warn(fluxMsg.payload)\n node.warn(fbMsg.payload)\n\n\n\nreturn [fluxMsg, fbMsg];",
        "outputs": 2,
        "noerr": 0,
        "x": 570,
        "y": 140,
        "wires": [
            [
                "4fac9eb7.4fe82",
                "8c7e7ef3.6a2ea"
            ],
            [
                "1f773a28.fd1546"
            ]
        ],
        "outputLabels": [
            "influx",
            "firebase"
        ]
    },
    {
        "id": "edf77fec.a5a45",
        "type": "json",
        "z": "d81c3475.a97e98",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 750,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "1f773a28.fd1546",
        "type": "firebase modify",
        "z": "d81c3475.a97e98",
        "name": "",
        "firebaseconfig": "",
        "childpath": "tablet_locations",
        "method": "push",
        "value": "msg.payload",
        "priority": "",
        "x": 920,
        "y": 60,
        "wires": [
            [
                "c6a27022.e0151"
            ]
        ]
    },
    {
        "id": "5dd61b93.f36614",
        "type": "debug",
        "z": "d81c3475.a97e98",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "x": 1120,
        "y": 260,
        "wires": []
    },
    {
        "id": "c6a27022.e0151",
        "type": "uibuilder",
        "z": "d81c3475.a97e98",
        "name": "default_ui",
        "topic": "owntracks",
        "url": "uibuilder",
        "fwdInMessages": true,
        "allowScripts": true,
        "allowStyles": true,
        "debugFE": true,
        "copyIndex": true,
        "x": 940,
        "y": 220,
        "wires": [
            [
                "5dd61b93.f36614"
            ],
            []
        ]
    },
    {
        "id": "6f60b2f1.2646bc",
        "type": "inject",
        "z": "d81c3475.a97e98",
        "name": "",
        "topic": "owntracks",
        "payload": "adsf",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 560,
        "wires": [
            [
                "18d76cf9.06fb33"
            ]
        ]
    },
    {
        "id": "18d76cf9.06fb33",
        "type": "mqtt out",
        "z": "d81c3475.a97e98",
        "name": "",
        "topic": "owntracks",
        "qos": "",
        "retain": "",
        "broker": "7cb5d6e9.ba00d8",
        "x": 390,
        "y": 580,
        "wires": []
    },
    {
        "id": "c615402.6a58ac",
        "type": "mqtt in",
        "z": "d81c3475.a97e98",
        "name": "",
        "topic": "owntracks",
        "qos": "2",
        "broker": "7cb5d6e9.ba00d8",
        "x": 140,
        "y": 480,
        "wires": [
            [
                "d2eeafd8.55d39"
            ]
        ]
    },
    {
        "id": "d2eeafd8.55d39",
        "type": "debug",
        "z": "d81c3475.a97e98",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 290,
        "y": 480,
        "wires": []
    },
    {
        "id": "e4c73b9f.c42748",
        "type": "mqtt in",
        "z": "d81c3475.a97e98",
        "name": "",
        "topic": "owntracks",
        "qos": "2",
        "broker": "7cb5d6e9.ba00d8",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "bf55fbd.f462108"
            ]
        ]
    },
    {
        "id": "688e2df3.a9bd74",
        "type": "debug",
        "z": "d81c3475.a97e98",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 770,
        "y": 240,
        "wires": []
    },
    {
        "id": "4fac9eb7.4fe82",
        "type": "debug",
        "z": "d81c3475.a97e98",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "x": 470,
        "y": 40,
        "wires": []
    },
    {
        "id": "3f70042f.e31dbc",
        "type": "influxdb",
        "z": "",
        "hostname": "172.19.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "testdb",
        "name": "",
        "usetls": false,
        "tls": ""
    },
    {
        "id": "7cb5d6e9.ba00d8",
        "type": "mqtt-broker",
        "z": "",
        "name": "47.219.112.177",
        "broker": "172.17.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    }
]